<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

  <div class="main-content">

    {{>header}}
    <p>This application was built using the below technologies:</p>

    <li>Node.js</li>
    <li>Express</li>
    <li>ES6+</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Third Party APIs</li>
  </div>

  {{>footer}}
</body>

<script src="/js/app.js"></script>
<script src="/src/appexp.js"></script>

</html>